<script setup>
import { RouterLink, RouterView } from "vue-router";
</script>

<template>
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">AWS Elemental Supervision Receiver</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <RouterLink class="nav-link" to="/">Channels</RouterLink>
          </li>
          <li class="nav-item">
            <RouterLink class="nav-link" to="/about">Mapping</RouterLink>
          </li>
          <li class="nav-item">
            <RouterLink class="nav-link" to="/profiles">Profiles</RouterLink>
          </li>
          <li class="nav-item">
            <RouterLink class="nav-link" to="/backup">Backup</RouterLink>
          </li>
          <li class="nav-item">
            <RouterLink class="nav-link" to="/details">Details</RouterLink>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li v-if="user" class="nav-item">
            <span class="btn btn-outline-warning" @click="logout">Logout</span>
          </li>
          <li v-else class="nav-item">
            <span
              class="nav-link"
              data-bs-toggle="modal"
              data-bs-target="#loginModal"
              >Login</span
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <RouterView />
  <!-- Modal -->
  <div
    class="modal fade"
    id="loginModal"
    ref="loginModal"
    tabindex="-1"
    aria-labelledby="loginModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Login</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              v-model="body.email"
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              v-model="body.password"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-primary w-100"
            :class="this.loading ? 'disabled' : null"
            @click="login"
          >
            <span
              v-if="this.loading"
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
            <span v-else>Login</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loading: false,
      user: null,
      body: {},
    };
  },
  methods: {
    login() {
      this.loading = true;
      console.log(this.body);
      this.user = true;
    },
    logout() {
      this.user = null;
    },
  },
};
</script>

<style scoped></style>
